.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logo {
    text-decoration: none;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --dark-theme-text-color: #FFFFFF;
    --accent-color:#2196F3;
}
body {
    background-color: var(--dark-theme-text-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
}


/* Header start */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    letter-spacing: 0.03em;
}

.header .navigation .logo-span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    letter-spacing: 0.03em;
}

.nav-list-item {
    color: var(--primary-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list-item:hover,
.nav-list-item:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-number:hover,
.contact-number:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contact-mail, .contact-number {
    color: var(--secondary-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
}


/* Header end */

/* Studio main start */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    background-color: #2F303A;
}

.main-title {
    color: var(--dark-theme-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--dark-theme-text-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.list>.desc-title {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.description {
    color: var(--secondary-text-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.hero {
    background: #F5F4FA;
}

.hero-list-item {
    background: #FFFFFF;
}

.hero-list-name {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.hero-list-title {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Studio main end */

/* Portfolio main start */

.btn-filter {
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--dark-theme-text-color);
    background-color: var(--accent-color);
}

.portfolio-list-item .desc-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.desc-title-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}


/* Portfolio main end */

/* Footer start */

.footer {
    background: #2F303A;
}

.footer .logo-span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-theme-text-color)
}
.address {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: #FFFFFF;
    letter-spacing: 0.03em;
}

.footer-mail, .footer-number {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-number:hover,
.footer-number:focus {
    color: var(--accent-color);
}

/* Footer end */